<div role="group" class="multiplier" data-js="progress--multiplier">
  <legend class="multiplier__legend">
    <h3 class="multiplier__title">Number of guests</h3>
  </legend>
  {{#each multiplier}}
  <label class="multiplier__input-group" for="radio-{{this}}">
    <input
      id="radio-{{this}}"
      data-js="radio-item"
			data-mult="{{this}}"
      value="{{this}}"
      name="guests"
      type="radio" />
    {{this}}
  </label>
  {{/each}}
</div>
