<section class="choice article-grid__section" data-js="choice" hidden="true">
  <h1 class="choice__hed">{{choice-hed}}</h1>
  <p class="choice__dek">{{choice-body}}</p>

  <ul class="choice__list">
    {{#each choices}}
    <li class="choice__list-item">
      <button
				data-js="choice-button"
        data-impact="{{impact}}"
        data-info="{{info}}"
				data-mult="{{mult}}"
        class="choice__btn btn--secondary"
        type="button">
        {{choice}}
      </button>
    </li>
    {{/each}}
  </ul>
</section>
